body {
  background: rgb(243, 243, 243);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board{
  background: white;
  left:0;
}
.inner-board{
  display:flex;
  justify-content:space-between;
  margin-inline: 100px;
  width: 400px;
  
}
p ~ p {
  margin-left:40px;
}

